<!DOCTYPE html>
<html>
  <head>
  <title>ABOUT TIME for an ABOUT PAGE</title>
  </head>
  <body>
	<h1>This is what it's all ABOUT</h1>
	<h2>AH,AH,AH!</h2>
  <ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
  </ul>
	<%= link_to 'Home', root_path %>
  </body>
</html>