<!DOCTYPE html>
<html>
<head>
<title>HOMEPAGE for HOMIES</title>
</head>
<body>
	<h1>This is my HOMEPAGE SONG, never gonna break it</h1>
	<h2>OH,OH,OH!</h2>
<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
</ul>
	<%= link_to 'About', about_path %> |
	<%= link_to "Alpha Blog", articles_path %>
</html>